.pytest_cache
*~
pictures/
**/__pycache__
raw_images/
figures/
outputs/
*.csv
.ipynb_checkpoints/
**/*.prof
**/*.cache
**/*.png
.ropeproject
cachedir
butterfly/misc/unet_butterfly.pkl  # file at https://bit.ly/3fLLd6Y