.pytest_cache
*~
pictures/
**/__pycache__
raw_images/
figures/
outputs/
*.csv
.ipynb_checkpoints/
**/*.prof
**/*.cache
**/*.png
.ropeproject
cachedir
models/*.pkl  # files at https://gitlab.com/mothra/mothra-data/-/tree/main/models
settings.json  # VSCode/VSCodium files