albumentations
matplotlib>=3.6.1
scikit-image~=0.21.0
numpy~=1.25.2
scipy~=1.11.1
pandas~=2.0.3
pytest-timeout
joblib~=1.3.1
fastai~=2.7.12
torch
torchvision
pooch~=1.7.0
exif~=1.6.0

kafka-python==2.0.2
pytest~=7.4.0